apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-deploy
  name: nginx-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-deploy
  strategy: {}
  template:
    metadata:
      labels:
        app: nginx-deploy
    spec:
      nodeSelector:
        role: web
      containers:
        - image: 182624914879.dkr.ecr.us-east-1.amazonaws.com/default/web-app:latest
        name: nginx
        ports:
        - containerPort: 80
        resources: {}
status: {}
